<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    <title>About Us</title>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
        <a class="navbar-brand" href="/index.html">OS Simulator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/index.html">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">About Us</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container my-5" id="mypar">
          <h2 class="text-center">About Us</h2>
          <p><b>Introduction to the Algorithm Simulation Website:</b>

            Welcome to the Algorithm Simulation website, where you can explore and interact with various algorithms commonly used in computer science and operating systems. This website provides a platform for understanding and experimenting with algorithms through simulation, making complex concepts more accessible and engaging.<br>
            
            <b>Exploring Algorithms:</b>
            The website offers a collection of algorithms, each accompanied by detailed explanations of their concepts and functionalities. From scheduling algorithms like Shortest Job First (SJF) to synchronization problems such as the Dining Philosophers Problem with Semaphore, you'll find a diverse range of topics covered here.<br>
            
            <b>Interactive Simulations:</b>
            Experience algorithms in action through interactive simulations designed to illustrate their behavior and principles. With just a click of a button, you can simulate the execution of algorithms and observe their outcomes, gaining valuable insights into their operations.<br>
            
            <b>Educational Resources:</b>
            Whether you're a student looking to deepen your understanding of algorithms or a professional seeking to refresh your knowledge, this website offers valuable educational resources to support your learning journey. Dive into algorithmic concepts, explore real-world applications, and enhance your problem-solving skills.<br>
            
            <b>Continuous Learning:</b>
            The Algorithm Simulation website is committed to fostering continuous learning and exploration. New algorithms, simulations, and educational content will be regularly added to keep the platform updated and relevant to the evolving field of computer science.<br>
            
            <b>Start Exploring:</b>
            Ready to delve into the fascinating world of algorithms? Browse through the selection of algorithms available on the website and start exploring their intricacies through interactive simulations. Whether you're a novice or an experienced coder, there's always something new to discover and learn here.</p>
       
      
      </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
  </html>
